
  <body>
    
     

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Poi vediamo che metterci
          </h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>
   
      <div class="album bg-light">
        <div class="container">
          <div class="row">
            <% for(let apartment of apartments) { %>
              <%- include('apartment', {apartment: apartment}); %>
            <% } %>
            </div>
          </div>
        </div>
      </div>  

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
      </div>
    </footer>
  

<svg xmlns="http://www.w3.org/2000/svg" width="508" height="225" viewBox="0 0 508 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body></html>