

<div class="row my-4">

  <div class="col-lg-7">

    <h1>Soggiorni nei pressi di
      <span id="search-location">
      </span>
    </h1>

    
    

    <div class="row">
      <div class="col-4">
        
        <div class="col-4 ">
          <label for="type_accomodation"><span class="fas fa-door-closed"></span> Tipo di Alloggio</label>
          <select type="select" class="custom-select form-control" id="type-accomodation" name="typeaccomodation" placeholder="Tipo di Alloggio">
            <option>Intero appartamento</option>
            <option>Stanza condivisa</option>
            <option>Stanza privata</option>
          </select>
          <div class="invalid-feedback">
              La tipologia di alloggio è obbligatoria.
          </div>
        </div>
        <div class="list-group list-group-horizontal-lg" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action " id="list-home-list" data-toggle="list" hidden role="tab" aria-controls="home">Tutti</a>

          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Alloggio</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Prezzo</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Servizi</a>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="row my-4">

  <div class="col-lg-7">

    <div class="container mt-2" style="float:left; height: 100vh; overflow-y:scroll">
      <% for(let apartment of apartments) { %>
        <%- include('apartment', {apartment: apartment}); %>
      <% } %>
    </div>

  </div>

  <div class="col-lg-5 mt-2 overflow-hidden" style="height: 65vh;">
    <div id="map" style="height: 100%;"></div>
  </div>

</div>


<script src="/scripts/maps.js"></script>

<script>
  $(document).ready(function() {
    initMap();
    geocodeApartments();

    let queryString = Cookies.get("query_search");
    
    if(queryString) {
      // Decodifica una query string di un URL in un oggetto JSON
      let queryJSON = JSON.parse('{"' + decodeURI(queryString).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}');
      $("#search-location").text(`${queryJSON["town"]}, ${queryJSON["region"]}, ${queryJSON["country"]}`);
    }
  })
</script>