
        <div class="col-md-4">
            <div class="card mb-4 box-shadow ">
              <a href="/apartments/apartment/<%= apartment._id%>"><img class="card-img-top" src="https://a0.muscache.com/im/pictures/288a9ae0-059d-49fb-805b-42d3c609f5b6.jpg?im_w=720" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/apartments/apartment/<%= apartment._id%>"><%= apartment.name %></a>
              </h4>
              <h5><%= apartment.price %> €</h5>
              </div>
            </div>
          </div>