

<div class="row my-4">

  <div class="col-lg-7">

    <h1>Soggiorni nei pressi di
      <span id="search-location"><%= session.searchdata.location %></span>
    </h1>
    <small class="lead text-muted">Qui potremmo mettere i filtri</small>

  </div>

</div>

<div class="row my-4">

  <div class="col-lg-7">

    <div class="container mt-2" style="float:left; height: 100vh; overflow-y:scroll">
      <% for(let apartment of apartments) { %>
        <%- include('apartment', {apartment: apartment}); %>
      <% } %>
    </div>

  </div>

  <div class="col-lg-5 mt-2 overflow-hidden" style="height: 65vh;">
    <div id="map" style="height: 100%;"></div>
  </div>

</div>

<script src="/scripts/maps.js"></script>

<script>
  $(document).ready(function() {
    initMap();
    geocodeApartments();
  })
</script>


