<style>
.custom-file-label {
    padding: 0 !important;
}
</style>

<div class="card card-signin my-5">
    <div class="card-body">
    <h5 class="card-title text-center">Inserisci Appartamento</h5>
  
      <form action="/apartments/create" id="form-insert" class="needs-validation" method="POST"
            enctype="multipart/form-data" novalidate>

        <div class="card mb-5">
  
          <div class="card-header text-white bg-primary">
            <span class="fas fa-list"></span>
            Dati sull'appartemento, descrizione, prezzo e disposizione camere / letti.
          </div>
  
          <div class="card-body">
  
            <div class="form-row">
  
              <div class="col-md-8 mb-3">
                <label for="name"><span class="fas fa-home"></span> Nome dell'appartamento</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nome appartamento"
                       autocomplete="off" required>
                <div class="invalid-feedback">
                  L'inserimento del nome dell'appartamento è obbligatorio.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="type_accomodation"><span class="fas fa-door-closed"></span> Tipo di Alloggio</label>
                <select type="select" class="custom-select form-control" id="type-accomodation" name="typeaccomodation" placeholder="Tipo di Alloggio" required>
                  <option>Intero appartamento</option>
                  <option>Stanza condivisa</option>
                  <option>Stanza privata</option>
                </select>
                <div class="invalid-feedback">
                    La tipologia di alloggio è obbligatoria.
                </div>
              </div>

            </div>

            <div class="form-row">

              <div class="col-md-4 mb-3">
                <label for="price"><span class="fas fa-euro-sign"></span> Prezzo per notte</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">€</span>
                  </div>
                  <input type="number" class="form-control" min="0" id="price" name="price" placeholder="Prezzo per notte" required>
                  <div class="input-group-append">
                    <span class="input-group-text">,00</span>
                  </div>
                </div>
                <div class="invalid-feedback">
                  L'inserimento del prezzo è obbligatorio.
                </div>
              </div>
              <div class="col-md-2 mb-3">
                <label for="guestsmax"><span class="fas fa-users"></span> Ospiti</label>
                <input type="number" class="form-control" min="0" max="20" id="guestsmax" name="guestsmax" placeholder="Numero massimo ospiti" required>
                <div class="invalid-feedback">
                  L'inserimento del numero massimo di ospiti consentito è obbligatorio (valore consentito: 1 - 20).
                </div>
              </div>
              <div class="col-md-2 mb-3">
                <label for="bedrooms"><span class="fas fa-restroom"></span> Camere da letto</label>
                <input type="number" class="form-control" min="1" max="10" id="bedrooms" name="bedrooms" placeholder="Camere da letto" required>
                <div class="invalid-feedback">
                  L'inserimento del numero di camere da letto è obbligatorio (valore consentito: 1 - 10).
                </div>
              </div>
              <div class="col-md-2 mb-3">
                <label for="bathrooms"><span class="fas fa-bath"></span> Bagni</label>
                <input type="number" class="form-control" min="1" max="10" id="bathrooms" name="bathrooms" placeholder="Numero bagni" required>
                <div class="invalid-feedback">
                  L'inserimento del numero di bagni è obbligatorio (valore consentito: 1 - 10).
                </div>
              </div>
              <div class="col-md-2 mb-3">
                <label for="beds"><span class="fas fa-bed"></span> Letti</label>
                <input type="number" class="form-control" min="1" max="20" id="beds" name="beds" placeholder="Numero di letti" required>
                <div class="invalid-feedback">
                  L'inserimento del letto è obbligatorio (valore consentito: 1 - 20).
                </div>
              </div>   
               
            </div>

            <div class="form-row">
  
              <div class="col-md-8 mb-3">
                  <label for="description"><span class="fas fa-comment"></span> Descrizione</label>

                  <textarea type="text" rows="10" class="form-control" id="description" name="description" 
                            placeholder="Descrizione" minlength="50" required></textarea>

                  <div class="invalid-feedback">
                      La descrizione è obbligatoria e deve essere minimo di 50 caratteri.
                  </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="services"><span class="fas fa-list-ul"></span> Servizi</label>

                <select class="custom-select form-control" id="services" name="services" style="height: 90%;" multiple>
                  <option>Aria condizionata</option>
                  <option>Allarme antincendio</option>
                  <option>Appendiabiti</option>
                  <option>Asciugacapelli</option>
                  <option>Asciugatrice</option>
                  <option>Bagno privato</option>
                  <option>Camino</option>
                  <option>Colazione</option>
                  <option>Cucina</option>
                  <option>Culla</option>
                  <option>Ferro da stiro</option>
                  <option>Lavatrice</option>
                  <option>Rilevatore di monossido di carbonio</option>
                  <option>Riscaldamento</option>
                  <option>Seggiolone</option>
                  <option>Self check-in</option>   
                  <option>TV</option>
                  <option>Wi-Fi</option>
                  <option>Zona lavoro computer-friendly</option>
                </select>

            </div>

            </div>
          </div>
        </div>
  
  
        <div class="card mt-5">
  
          <div class="card-header text-white bg-primary"><span class="fas fa-house-user"></span> Indirizzo</div>
  
          <div class="card-body">

            <div class="form-row">
                
              <div class="col-md-12 mb-3">
                <label for="autocomplete"><span class="fas fa-map-marked-alt"></span> Indirizzo completo</label>
                <input type="text" class="form-control" id="autocomplete" onFocus="geolocate()" autocomplete="off"
                       placeholder="Inserisci qui l'indirizzo per usare l'autocompletamento dei campi di indirizzo">
              </div>
  
            </div>
  
            <div class="form-row">
              
              <div class="col-md-6 mb-3">
                <label for="street"><span class="fas fa-map-marker-alt"></span> Indirizzo</label>
                <input type="text" class="form-control" id="street" name="street" placeholder="Indirizzo (via, piazza, ecc.)">
                <div class="invalid-feedback">
                  Inserire un indirizzo valido.
                </div>
              </div>
  
              <div class="col-md-2 mb-3">
                <label for="streetnumber"><span class="fas fa-map-marker-alt"></span> Numero Civico</label>
                <input type="text" class="form-control" id="streetnumber" name="streetnumber" placeholder="Numero civico">
                <div class="invalid-feedback">
                  Inserire un numero civico valido.
                </div>
              </div>
  
              <div class="col-md-4 mb-3">
                <label for="postalcode"><span class="fas fa-map"></span> CAP</label>
                <input type="text" class="form-control" id="postalcode" name="postalcode" placeholder="CAP" pattern="[0-9]{5}">
                <div class="invalid-feedback">
                  Inserire un CAP valido.
                </div>
              </div>
  
            </div>
  
  
            <div class="form-row">
  
              <div class="col-md-4 mb-3">
                <label for="town"><span class="fas fa-map"></span> Comune</label>
                <input type="text" class="form-control" id="town" name="town" placeholder="Comune">
                <div class="invalid-feedback">
                  Inserire un comune valido.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="province"><span class="fas fa-map"></span> Provincia</label>
                <input type="text" class="form-control" id="province" name="province" placeholder="Provincia">
                <div class="invalid-feedback">
                  Inserire una città valida.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="country"><span class="fas fa-globe"></span> Stato</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="Stato">
                <div class="invalid-feedback">
                  Inserire un stato valido.
                </div>
              </div>
  
            </div>
  
          </div>
        </div>
  
        <div class="card mt-5">
  
          <div class="card-header text-white bg-primary"><span class="far fa-images"></span> Caricamento foto dell'alloggio</div>
  
          <div class="card-body">

            <div class="form-row">      
              <div class="col-md-12 mb-3 my-auto">
                <label for="apartment-file-input"><span class="fas fa-images"></span> Seleziona una o più immagini del tuo appartamento da caricare</label>
                <div class="input-group mb-3">
                  <div class="custom-file" id="apartment-file-input">
                    <input type="file" class="custom-file-input images-file-input" id="apartment-images-input" name="photos" multiple required>
                    <label class="custom-file-label" for="apartment-images-input" data-browse="Sfoglia">
                      <div class="progress h-100">
                        <div class="progress-bar bg-success" id="progressbar" role="progressbar" 
                             aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </label>
                    <div class="invalid-feedback">
                      Bisogna caricare obbligatoriamente almeno un'immagine.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row mb-4 mt-4">
              <div class="col-md-12 mb-3 my-auto">
                <div class="d-flex align-self-center justify-content-center">
                  <div class="spinner-border text-primary" id="spinner" role="status" style="display: none">
                    <span class="sr-only"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row mb-4 mt-4">
              <div class="col-md-12 mb-3 my-auto border border-primary rounded" id="photos-preview">
              </div>
            </div>

          </div>
        </div>
  
        <div class="form-group mt-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="terms" required>
            <label class="form-check-label" for="terms">
              Accetto i termini e le condizioni.
            </label>
            <div class="invalid-feedback">
              Devi accettare i termini e le condizioni prima di proseguire.
            </div>
          </div>
        </div>
        
        <div class="form-row mx-auto my-4">

          <div class="col-md-2">
            <input type="hidden" name="_method" value="POST">
            <button class="btn btn-primary" type="submit">Inserisci</button>
          </div>

          <div class="col-md-4">
            <div id="alert-form-success" style="display: none;" class="alert alert-success" role="alert">
              <strong>L'annuncio è stato caricato con successo!</strong>
            </div>
            <div id="alert-form-error" style="display: none;" class="alert alert-danger" role="alert">
            </div>
          </div>      

        </div>
  
      </form>

    </div>
  </div>

  <script src="/scripts/autocomplete-google.js"></script>