
<div class="col-lg-20">

    <div class="card mt-4">
      <img class="card-img-top img-fluid" src="https://a0.muscache.com/im/pictures/1c71142e-9dbf-4d8f-b8fe-225dc609c96a.jpg?aki_policy=x_large" alt="">
      <div class="card-body">
        <h3 class="card-title">
            <div class="mx-auto" style="width: 200px;">
                <a href="#"><%=apartment.name %></a>
              </div>       
        </h3>
        <h4><%= apartment.price %> €</h4>
        <p class="card-text"><%= apartment.description%> </p>
        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        4.0 stars
      </div>
    </div>