<script src="../node_modules/bootstrap-input-spinner/src/bootstrap-input-spinner.js"></script>


<div id="carousel" class="carousel slide my-5" data-ride="carousel">

    <div class="rounded d-none d-lg-block" style="background-color: gray; border: 20px; width: 80%; height: 6rem; position: absolute; 
                                opacity: 0.6; margin: 0 auto; left: 0; right: 0; top:45%; z-index: 1;">

      <div class="btn-group" role="group" id="search-bar"
           style="width:80%; height:60%; position: absolute; margin: 0 auto; left: 0; right: 0; top:20%;">

          <input id="location" type="input" class="btn btn-secondary" style="background-color: white; color: black"
                 placeholder="Cerca per città, indirizzo...">

          <input type="date" class="btn btn-secondary" value="Check-in" style="background-color: white; color: black">      
          <input type="date" class="btn btn-secondary" value="Check-out" style="background-color: white; color: black">    
          
          <button class="btn btn-secondary" type="button" id="peopleDropdown" style="background-color: white; color: black"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Numero di persone</button>

          <div class="dropdown-menu" aria-labelledby="peopleDropdown">
            <div class="container">
              <div class="form-inline">
                <div class="form-group" style="line-height: 1em;">

                  <div>
                    <strong class="align-middle mx-auto">Adulti</strong><br />
                    <small class="align-middle mx-auto">12 in su</small><br /><br />
                    <strong class="align-middle mx-auto">Bambini</strong><br />
                    <small class="align-middle mx-auto">dai 2 ai 12</small><br /><br />
                    <strong class="align-middle mx-auto">Neonati</strong><br />
                    <small class="align-middle mx-auto">Fino ai 2</small>
                  </div>

                  <div class="ml-4" style="width: 8em">
                    <input class="mb-4" type="number" value="0" min="0" max="9" step="1" />
                    <input class="my-auto" type="number" value="0" min="0" max="9" step="1"/>
                    <input class="mt-4" type="number" value="0" min="0" max="9" step="1"/>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-secondary" style="background-color: white; color: black">Cerca per città, indirizzo...</button>
          <button type="button" class="btn btn-secondary" style="background-color: white; color: black">Check-in - Check-out</button>
          <button type="button" class="btn btn-secondary" style="background-color: white; color: black">Numero di persone</button>
          <button type="button" class="btn btn-primary"  >Cerca</button> <!-- prova -->
          
      </div>

       

    </div>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <img class="d-block img-fluid" src="/images/stock1.jpg" alt="Stock Image 1">
      </div>

      <div class="carousel-item">
        <img class="d-block img-fluid" src="/images/stock2.jpg" alt="Stock Image 2">
      </div>

      <div class="carousel-item">
        <img class="d-block img-fluid" src="/images/stock3.jpg" alt="Stock Image 3">
      </div>

      <div class="carousel-item">
        <img class="d-block img-fluid" src="/images/stock4.jpg" alt="Stock Image 4">
      </div>

      <div class="carousel-item">
        <img class="d-block img-fluid" src="/images/stock5.jpg" alt="Stock Image 5">
      </div>

      <div class="carousel-item">
        <img class="d-block img-fluid" src="/images/stock6.jpg" alt="Stock Image 6">
      </div>

    </div>

</div>

<div class="row">



</div>