<div id="carousel" class="carousel slide my-2" style="padding-left: 0;" data-ride="carousel">

  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">
      <img class="d-block img-fluid" src="/images/stock1.jpg" alt="Stock Image 1">
      <div class="container">
        <div class="carousel-caption text-center" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center; font-style: oblique ; margin-bottom: 17%; ">
          <h1 style="font-size: xx-large;">Benvenuti.</h1>
          <p style="font-size:x-large;">Con noi ogni viaggio lo vivi tre volte: quando lo sogni, quando lo vivi e quando lo ricordi</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block img-fluid"  src="/images/stock2.jpg" alt="Stock Image 2">
      <div class="carousel-caption text-center" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center; font-style: oblique ; margin-bottom: 17%; ">
        <h1 style="font-size: xx-large;">Sogna.</h1>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block img-fluid" src="/images/stock3.jpg" alt="Stock Image 3">
      <div class="carousel-caption text-center" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center; font-style: oblique ; margin-bottom: 17%; ">
        <h1 style="font-size: xx-large;">Vivi.</h1>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block img-fluid" src="/images/stock4.jpg" alt="Stock Image 4">
      <div class="carousel-caption text-center" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center; font-style: oblique ; margin-bottom: 17%; ">
        <h1 style="font-size: xx-large;">Ricorda.</h1>
      </div>
      <div class="container">
        
      </div>
    </div>

    

  </div>

</div>
<br>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Benvenuti a casa</h2>
        <hr>
        <p>Viaggiare non è solo spostarsi per conoscere posti nuovi. Viaggiare è scoprire ciò che non sappiamo ancora, è conoscere altri modi di intendere il mondo e imparare lingue sconosciute.
         <b>Viaggiare è espandere la nostra mente </b>  allargandone gli orizzonti, scoprendo che altri "noi" vivono in luoghi diversi dal nostro. 
          È crescere, arricchirsi, esercitare l'empatia e la gioia della conoscenza.
          
          Viaggiare è scoprire che altrove esistono nuovi modi di salutarsi al mattino, di arredare casa, di presentarsi e di fare colazione. 
          Per questo <b>alloggiare in un B&B </b> ,a contatto con chi vive e abita i luoghi che scoprirete, <b>è il modo più vero e autentico di viaggiare.</b></p>
        <a id="prenota-btn" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#navbarResponsive">Prenota Subito &raquo;</a>

        
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contattaci</h2>
        <hr>
        <address>
          <strong>BnB &copy</strong>
          <br>Via del Vespro, 129. 
          <br>90127 PALERMO (PA).
          <br>
        </address>
        <address>
          <abbr title="Phone">Telefono:</abbr>
          +3909123865807
          <br>
          <abbr title="Email">Email:</abbr>
          <a href="mailto:bnb.webandmobile@gmail.com">bnb.webandmobile@gmail.com</a>
        </address>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <hr>
  <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center; font-style: oblique ;">Le città da non perdere</h1>
  <br>
    <!-- ROW -->

  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" style="max-height:260px;height:auto;width:auto;" src="https://www.costieraamalfitana.com/wp-content/uploads/2016/06/amalfi-1-696x385.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Costiera Amalfitana</h4>
          <p class="card-text">Campania.</p>
        </div>
        <div class="card-footer">
          <a href="/apartments/search?checkin=&checkout=&location=Costiera+amalfitana%2C+Italia&country=IT&postalcode=84011&province=SA&region=Campania&street=&streetnumber=&town=Amalfi&price=500&typeaccomodation=&guests=0&guestsadults=0&guestschildren=0&guestsnewborns=0" class="btn btn-primary">Viaggia!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" style="max-height:260px;height:auto;width:auto;" src="https://siviaggia.it/wp-content/uploads/sites/2/2020/01/dolomiti-1.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Dolomiti</h4>
          <p class="card-text">Trentino Alto Adige.</p>
        </div>
        <div class="card-footer">
          <a href="../apartments/search?location=Trentino-Alto+Adige%2C+Italia&country=IT&postalcode=&province=&region=Trentino-Alto+Adige&street=&streetnumber=&town=&checkin=&checkout=&guests=0&guestsadults=0&guestschildren=0&guestsnewborns=0" class="btn btn-primary">Viaggia!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" style="max-height:260px;height:auto;width:auto;" src="https://m.hotelcapodeigreci.it/img/blog/anteprime/img_155195154091.77.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Taormina</h4>
          <p class="card-text">Sicilia.</p>
        </div>
        <div class="card-footer">
          <a href="/apartments/search?location=Taormina%2C+ME%2C+Sicilia%2C+Italia&country=IT&postalcode=98039&province=ME&region=Sicilia&street=&streetnumber=&town=Taormina&checkin=&checkout=&guests=0&guestsadults=0&guestschildren=0&guestsnewborns=0" class="btn btn-primary">Viaggia!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.ROW -->

<script src="/scripts/home.js"></script>
<script>
  $("#prenota-btn").click(function(){
    window.scrollTo(0,0);
  });
</script>