<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bed and Breakfast">
    <meta name="author" content="Salvatore Apicella, Girolamo Nobile, Tommaso Scalici">

    <title>B&B - <%= pagetitle %></title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/shop-homepage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="logo" class="d-inline-block align-top" width="48" height="36">&nbsp;B&B
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cerca alloggio</a>
            </li>
            <% if(!session.user) { %>
              <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#signinModal" href="#">Accedi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Registrati</a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="/apartments/create">Inserisci Alloggio</a>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= session.user.name.first %>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile">Profilo</a>
                    <a class="dropdown-item" href="/logout">Esci</a>
                  </div>
                </div>               
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container col-lg">

      <div class="row">

<<<<<<< Updated upstream
        <ul class="list-group list-group-horizontal my-5 mx-auto">
          <li class="list-group-item">Cerca per città, indirizzo...</li>
          <li class="list-group-item">Check-in - Check-out</li>
          <li class="list-group-item">Numero di persone</li>
          <li class="list-group-item">
            <button class="btn btn-primary" type="submit">Cerca alloggio</button>
          </li>
        </ul>
      </div>

      <div class="row">

        <div class="col-lg-3">
=======
        <div class="col-lg-2">
>>>>>>> Stashed changes

          <h1 class="my-4">B&B</h1>
          <div class="list-group">
            <a href="#" class="list-group-item">Categorie di cose</a>
            <a href="#" class="list-group-item">Se hanno senso</a>
            <a href="#" class="list-group-item">Le categorie qui</a>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div id="ajaxContent">

            <%- include(path) %>

          </div>
          <!-- /#content -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; B&B 2020</p>
        <p class="m-0 text-center text-white">By Salvatore Apicella, Girolamo Nobile, Tommaso Scalici</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts -->
    <script src="/scripts/bnb.js"></script>

    <%- include("signin") %>
    
  </body>

</html>