<!DOCTYPE html>

    <head>
        <title>Pagina di test</title>
    </head>

    <body>
        <h1>Questa è una pagina di test</h1>
        <a href="test">Questo invece è un link per testare la route</a>
    </body>

</html>