<!DOCTYPE html>

    <head>
        <title>Pagina di test</title>
    </head>

    <body>
        <h1>Questa è una pagina di test</h1>
        
        <a href="/signin">Login test</a>
        <br />
        <a href="/signup">Signup form test</a>
        <br />
        <a href="/api/users">Visualizza gli utenti</a>
    </body>

</html>