
<div class="row">

    <ul class="list-group list-group-horizontal col-lg">
    <li class="list-group-item">Cerca per città, indirizzo...</li>
    <li class="list-group-item">Check-in - Check-out</li>
    <li class="list-group-item">Numero di persone</li>
    <li class="list-group-item">
        <button class="btn btn-primary" type="submit">Cerca alloggio</button>
    </li>
    </ul>
</div>

        