<h1>
    <form class="form-reservation" id="form-reservation" action="api/reservations/reservation" method="POST">
        <div class="form-label-group">
        <input type="datetime-local" id="signin-email" name="checkin" class="form-control" placeholder="Check-in" required autofocus>
        <label for="checkin">Checkin</label>
        </div>

        <div class="form-label-group">
        <input type="datetime-local" id="signin-password" name="checkout" class="form-control" placeholder="Check-out" required>
        <label for="checkout">Checkout</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Continua</button>
    </form>
</h1>