<%- include('credit-card') %>
<%- include('Paypal') %>


<!--Payment DA INSERIRE NELLA PREVIEW DELLA PRENOTAZIONE-->
 <div class="form-group">
    <select class="form-control bg-warning border-dark" id="payment" name="payment" placeholder="Tipologia di Pagamento" required>
      <option value="">---Seleziona Metodo di Pagamento---</option>
      <option value="credit-card">Carta di Credito</option>
      <option value="payPal">PayPal</option>
      <option value="debit-card">Bonifico Bancario</option>
    </select>
  </div>

  <script>   
    $('#payment').change(function() {
        var opval = $(this).val();
        if(opval=="credit-card"){
            $('#credit-card').modal("show");
        }
        else if(opval=="payPal")
        {
          $('#Paypal').modal("show");
        }
        else if(opval=="transfer")
        {
          $('#myModal').modal("show");
        }
    });
    </script>

