<%- include('credit-card') %>
<%- include('Paypal') %>


<!--Payment DA INSERIRE NELLA PREVIEW DELLA PRENOTAZIONE-->
 <div class="form-group">
    <select class="form-control bg-warning border-dark" id="paymentmethod" name="paymentmethod" placeholder="Metodo di pagamento" required>
      <option value="">--- Seleziona Metodo di Pagamento ---</option>
      <option>Bonifico Bancario</option>
      <option>Carta di credito/debito</option>
      <option>PayPal</option>
    </select>
  </div>

  <script>   
    $('#payment').change(function() {
        var opval = $(this).val();
        if(opval=="credit-card"){
            $('#credit-card').modal("show");
        }
        else if(opval=="payPal")
        {
          $('#Paypal').modal("show");
        }
        else if(opval=="transfer")
        {
          $('#myModal').modal("show");
        }
    });
    </script>

