


<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <%if(session.user) { %>            
            <div class="modal-header">
                <h5 class="modal-title" id="reservationModalLabel">Prenota questo appartamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="card card-signin my-5">
                    <div class="card-body">
                    <form class="form-reservation" id="form-reservation" action="/reservations/reservation" method="POST">

                        <!--Checkin-->
                            <div class="form-label-group">
                                <input type="date" id="checkin" name="checkin" class="btn btn-light input-placeholding" 
                                       placeholder="Check-in" required autofocus>
                                <label for="checkin">Checkin</label>
                            </div>

                        <!--Checkout-->
                            <div class="form-label-group">
                                <input type="date" id="checkout" name="checkout" class="btn btn-light input-placeholding" 
                                       placeholder="Check-out" required autofocus>
                                <label for="checkout">Checkout</label>
                            </div>

                        <!--Guests (Adults, Children, newborns)-->
                            <div class="form-group">
                                <input type="hidden" id="guests" name="guests">
                                <button class="btn btn-light btn-block input-placeholding" type="button" id="peopleDropdown" style="width: 12rem;"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    
                                <!--Guests Dropdown-->
                                <div class="dropdown-menu" aria-labelledby="peopleDropdown">
                                  <div class="container">
                                    <div class="form-inline">
                                      <div class="form-group" style="line-height: 1em;">
                    
                                        <div>
                                          <strong class="align-middle mx-auto">Adulti</strong><br />
                                          <small class="align-middle mx-auto">12 in su</small><br /><br />
                                          <strong class="align-middle mx-auto">Bambini</strong><br />
                                          <small class="align-middle mx-auto">dai 2 ai 12</small><br /><br />
                                          <strong class="align-middle mx-auto">Neonati</strong><br />
                                          <small class="align-middle mx-auto">Fino ai 2</small>
                                        </div>
                    
                                        <div class="ml-4" style="width: 8em">
                                          <input class="guests-input mb-4" type="number" value="0" min="0" max="9" step="1" />
                                          <input class="guests-input my-auto" type="number" value="0" min="0" max="9" step="1"/>
                                          <input class="guests-input mt-4" type="number" value="0" min="0" max="9" step="1"/>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            

                            

                            </br>

                            
                    </form>

                    </div>
                </div>
            </div>
            <%} else {%>
                <div class="modal-header">
                    <h5 class="modal-title" id="notLoggedModalLabel">Non sei un utente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <p>
                                Accedi per proseguire nella prenotazione.
                                <a id="to-signinModal" data-toggle="modal" data-target="#signin-modal" href="#">Accedi</a >, o <a href="/users/signup">registrati </a>se non possiedi ancora un account.
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
         </div>
    </div>
</div>






