<link href="/css/searchbar.css" rel="stylesheet">

<style>
 
 .dropdown-container {
  position: relative;
}

.navbar .dropdown-menu {
    margin-left: -1rem;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
}
    
</style>    

<form action="/apartments/search" method="GET"
      id="searchbar-form" class="align-middle mx-auto my-auto" role="group">

    <div class="row mx-auto" style="margin: 0%; padding-right: 110px;" >

        <div class="form-group-inline">
            <small class="label-placeholder">CHECK-IN</small>
            <input type="date" id="searchbar-checkin" name="checkin" class="form-control input-placeholding" style="width:11rem">      
        </div>

        <div class="form-group-inline">
            <small class="label-placeholder">CHECK-OUT</small>
            <input type="date" id="searchbar-checkout" name="checkout" class="form-control input-placeholding" style="width:11rem">    
        </div>

        <div class="form-group-inline">
            <small class="label-placeholder">DOVE</small>

            <input id="searchbar-location" class="form-control input-placeholding" name="location" type="input"
                   style="width: 11rem;" placeholder="Cerca per città, indirizzo..." onFocus="geolocate()" />
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-country" name="country">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-postalcode" name="postalcode">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-province" name="province">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-region" name="region">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-street" name="street">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-streetnumber" name="streetnumber">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-town" name="town">        
            <input type="hidden" class="filter-hidden-field" id="filter-price" name="price">
            <select style="display: none;" id="filter-services" name="services[]" multiple>
                <option>Aria condizionata</option>
                <option>Allarme antincendio</option>
                <option>Appendiabiti</option>
                <option>Asciugacapelli</option>
                <option>Asciugatrice</option>
                <option>Bagno privato</option>
                <option>Camino</option>
                <option>Colazione</option>
                <option>Cucina</option>
                <option>Culla</option>
                <option>Ferro da stiro</option>
                <option>Lavatrice</option>
                <option>Rilevatore di monossido di carbonio</option>
                <option>Riscaldamento</option>
                <option>Seggiolone</option>
                <option>Self check-in</option>   
                <option>TV</option>
                <option>Wi-Fi</option>
                <option>Zona lavoro computer-friendly</option>
            </select>
            <input type="hidden" class="filter-hidden-field" id="filter-typeaccomodation" name="typeaccomodation">

        </div>

        <div class="form-group-inline">
            <input type="hidden" id="searchbar-guests" name="guests">
            <small class="label-placeholder">OSPITI</small>
            <button class="form-control input-placeholding" type="button" id="searchbar-people-dropdown" style="width:11rem;"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aggiungi ospiti</button>

            <div class="dropdown-container">
                <div class="dropdown-menu dropdown-menu-absolute" aria-labelledby="searchbar-people-dropdown">
                    <div class="container">
                        <div class="form-inline">
                            <div class="form-group" style="line-height: 1em;">

                                <div>
                                    <strong class="align-middle mx-auto">Adulti</strong><br />
                                    <small class="align-middle mx-auto">13 in su</small><br /><br />
                                    <strong class="align-middle mx-auto">Bambini</strong><br />
                                    <small class="align-middle mx-auto">dai 2 ai 12</small><br /><br />
                                    <strong class="align-middle mx-auto">Neonati</strong><br />
                                    <small class="align-middle mx-auto">Fino ai 2</small>
                                </div>

                                <div class="ml-4" style="width: 2em">
                                    <input id="searchbar-guests-adults" name="guestsadults" class="searchbar-guests-input mb-4"
                                        type="number" value="0" min="0" max="9" step="1"/>
                                    <input id="searchbar-guests-children" name="guestschildren" class="searchbar-guests-input my-auto"
                                        type="number" value="0" min="0" max="9" step="1"/>
                                    <input id="searchbar-guests-newborns" name="guestsnewborns" class="searchbar-guests-input mt-4"
                                        type="number" value="0" min="0" max="9" step="1"/>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group-inline">
            <button type="submit" class="btn btn-primary fas fa-search" style="height: 100%; width:100%"></button>
        </div>
    </div>

</form>

<script src="/scripts/searchbar.js"></script>