<link href="/css/searchbar.css" rel="stylesheet">

<form action="/apartments/search" method="GET" id="searchbar-form" class="align-middle mx-auto my-auto" role="group" id="search-bar">

    <div class="row mx-auto">

        <div class="form-group-inline">
            <small class="label-placeholder">CHECK-IN</small>
            <input type="date" id="searchbar-checkin" name="checkin" class="form-control input-placeholding" style="width:11rem">      
        </div>

        <div class="form-group-inline">
            <small class="label-placeholder">CHECK-OUT</small>
            <input type="date" id="searchbar-checkout" name="checkout" class="form-control input-placeholding" style="width:11rem">    
        </div>

        <div class="form-group-inline">
            <small class="label-placeholder">DOVE</small>
            <input type="hidden" id="searchbar-province" name="province">
            <input type="hidden" id="searchbar-town" name="town">
            <input id="searchbar-location" name="location" type="input" class="form-control input-placeholding" style="width: 11rem;"
                   placeholder="Cerca per città, indirizzo...">
        </div>

        <div class="form-group-inline">
            <input type="hidden" id="searchbar-guests" name="guests">
            <small class="label-placeholder">OSPITI</small>
            <button class="form-control input-placeholding" type="button" id="searchbar-peopleDropdown" style="width:11rem"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aggiungi ospiti</button>

            <div class="dropdown-menu" aria-labelledby="searchbar-peopleDropdown">
                <div class="container">
                    <div class="form-inline">
                        <div class="form-group" style="line-height: 1em;">

                            <div>
                                <strong class="align-middle mx-auto">Adulti</strong><br />
                                <small class="align-middle mx-auto">12 in su</small><br /><br />
                                <strong class="align-middle mx-auto">Bambini</strong><br />
                                <small class="align-middle mx-auto">dai 2 ai 12</small><br /><br />
                                <strong class="align-middle mx-auto">Neonati</strong><br />
                                <small class="align-middle mx-auto">Fino ai 2</small>
                            </div>

                            <div class="ml-4" style="width: 4em">
                                <input id="searchbar-guests-adults" name="guests-adults" class="guests-input mb-4"
                                    type="number" value="0" min="0" max="9" step="1" />
                                <input id="searchbar-guests-children" name="guests-children" class="guests-input my-auto"
                                    type="number" value="0" min="0" max="9" step="1"/>
                                <input id="searchbar-guests-newborns" name="guests-newborns" class="guests-input mt-4"
                                    type="number" value="0" min="0" max="9" step="1"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group-inline">
            <button type="submit" class="btn btn-primary fas fa-search" style="height: 100%; width:100%"></button>
        </div>
    </div>

</form>

<script src="/scripts/searchbar.js"></script>