<link href="/css/searchbar.css" rel="stylesheet">

<div class="rounded d-none d-lg-block" style="background-color: rgba(128,128,128, 0.5); width: 80%; height: 6rem; position: absolute;
                                              margin: 0 auto; left: 0; right: 0; top:40%; z-index: 1;">

    <form action="/apartments/search" method="GET" class="btn-group position-absolute" 
          role="group" id="searchbar-form" style="height:5rem; margin: 1.4% 10%">

        <div class="form-group">
            <small class="label-placeholder">DOVE</small>
            <input id="searchbar-location" class="form-control input-placeholding" name="location" type="input"
                   style="width: 11rem;" placeholder="Cerca per città, indirizzo..." onFocus="geolocate()" />
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-country" name="country">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-postalcode" name="postalcode">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-province" name="province">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-region" name="region">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-street" name="street">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-streetnumber" name="streetnumber">
            <input type="hidden" class="searchbar-hidden-field" id="searchbar-town" name="town">
        </div>

        <div class="form-group">
            <small class="label-placeholder">CHECK-IN</small>
            <input type="date" id="searchbar-checkin" name="checkin" class="btn btn-secondary input-placeholding">      
        </div>

        <div class="form-group">
            <small class="label-placeholder">CHECK-OUT</small>
            <input type="date" id="searchbar-checkout" name="checkout" class="btn btn-secondary input-placeholding">    
        </div>

        <div class="form-group">
            <input type="hidden" id="searchbar-guests" name="guests">
            <small class="label-placeholder">OSPITI</small>
            <button class="btn btn-secondary btn-block input-placeholding" type="button" id="searchbar-people-dropdown" style="width:12rem;"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aggiungi ospiti</button>

            <div class="dropdown-menu" aria-labelledby="searchbar-people-dropdown">
                <div class="container">
                    <div class="form-inline">
                        <div class="form-group" style="line-height: 1em;">

                            <div>
                                <strong class="align-middle mx-auto">Adulti</strong><br />
                                <small class="align-middle mx-auto">13 in su</small><br /><br />
                                <strong class="align-middle mx-auto">Bambini</strong><br />
                                <small class="align-middle mx-auto">dai 2 ai 12</small><br /><br />
                                <strong class="align-middle mx-auto">Neonati</strong><br />
                                <small class="align-middle mx-auto">Fino ai 2</small>
                            </div>

                            <div class="ml-4" style="width: 8em">
                                <input id="searchbar-guests-adults" name="guestsadults" class="searchbar-guests-input mb-4"
                                    type="number" value="0" min="0" max="9" step="1" />
                                <input id="searchbar-guests-children" name="guestschildren" class="searchbar-guests-input my-auto"
                                    type="number" value="0" min="0" max="9" step="1"/>
                                <input id="searchbar-guests-newborns" name="guestsnewborns" class="searchbar-guests-input mt-4"
                                    type="number" value="0" min="0" max="9" step="1"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="height: 100%; width:12rem">Cerca</button>
        </div>
        
    </div>
</form>

<script src="/scripts/searchbar.js"></script>
