
<h1>La pagina di test funziona. Mind blowing.</h1>
<a href="/">Clicca qui per tornare indietro.</a>

<br /><br />

<form action="/api/users/signup" id="signup_form" method="POST">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" pattern="^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-]{2,})+.)+([com,it,net,br,de])+$" required><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,15}$" required ><br><br>
    <label for="repass">Confirm Password:</label><br>
    <input type="password" id="repass" name="repass" required><br><br>

    <br><br>

    <label for="firstname">First name:</label> <br>
    <input type="text" id="fname" name="fname" required><br>
    <label for="lastname">Last name:</label><br>
    <input type="text" id="lname" name="lname" required><br><br>
    <label for="sex">Birthdate:</label><br>
    <input type="date" id="birthdate" name="birthdate" required><br><br>
    <label for="sex">Sex:</label><br>
    <select id="sex" name="sex" required>
        <option value="M">M</option>
        <option value="M">F</option>
    </select>
    <br><br>
    
    <label for="telephone">Telephone:</label><br>
    <input type="tel" id="telephone" name="telephone" pattern="^[0-9\-\+]{9,15}$"><br><br>
    

    <input type="submit" value="Submit">
</form>

<script type="text/javascript">

function checkPasswordMatch() {

    if ($("#password").val() != $("#repass").val())
        $("#repass")[0].setCustomValidity("Le password non coincidono!");
    else
        $("#repass")[0].setCustomValidity('');
}

$(document).ready(function () {
    $("#repass").keyup(checkPasswordMatch);
});

</script>
