<div class="card card-signin my-5">
  <div class="card-body">
  <h5 class="card-title text-center">Compila il form di registrazione</h5>

    <form action="/users/signup" method="POST" id="form-signup" class="needs-validation" novalidate>
      <div class="card mb-5">

        <div class="card-header text-white bg-primary"><span class="far fa-user"></span> Dati personali</div>

        <div class="card-body">


          <div class="form-row">

            <div class="col-md-4 mb-3">
              <label for="firstname"><span class="fas fa-user"></span> Nome</label>
              <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Nome" required>
              <div class="invalid-feedback">
                L'inserimento del nome è obbligatorio.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="lastname"><span class="fas fa-user"></span> Cognome</label>
              <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Cognome" required>
              <div class="invalid-feedback">
                L'inserimento del cognome è obbligatorio.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="username"><span class="fas fa-at"></span> Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend3">@</span>
                </div>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                       pattern="[a-z0-9]{4,20}"  aria-describedby="inputGroupPrepend3">
                <div class="invalid-feedback">
                  L'username deve essere tra 4 e 20 caratteri alfanumerici (minuscoli).
                </div>
              </div>
            </div>

          </div>
      

          <div class="form-row">

            <div class="col-md-4 mb-3">
              <label for="email"><span class="fas fa-envelope"></span> E-mail</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
              <div class="invalid-feedback">
                Inserire un indirizzo e-mail valido.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="password"><span class="fas fa-key"></span> Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required
                     pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$">
              <div class="invalid-feedback">
                La password non è abbastanza sicura. Deve avere una lunghezza compresa tra gli 8 e i 20 caratteri e
                contenere almeno un carattere minuscolo, uno maiuscolo, un numero e un carattere speciale.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="repass"><span class="fas fa-key"></span> Conferma Password</label>
              <input type="password" class="form-control" id="repass" placeholder="Conferma Password" required>
              <div class="invalid-feedback">
                Le password non coincidono.
              </div>
            </div>

          </div>


          <div class="form-row">

            <div class="col-md-3 mb-3">
              <label for="birthdate"><span class="fas fa-birthday-cake"></span> Data di nascita</label>
              <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="Data di nascita">
              <div class="invalid-feedback">
                Inserire una data valida.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="telephone"><span class="fas fa-phone-alt"></span> Telefono</label>
              <input type="tel" class="form-control" id="telephone" name="telephone" placeholder="Telefono"
                     pattern="^[0-9\-\+]{9,15}$">
              <div class="invalid-feedback">
                Inserire un numero di telefono valido.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="sex"><span class="fas fa-venus-mars"></span> Sesso</label>
              <select class="form-control" id="sex" name="sex" placeholder="Sesso">
                <option></option>
                <option>M</option>
                <option>F</option>
              </select>
            </div>
            
          </div>


        </div>
      </div>

      <div class="card mt-5">

        <div class="card-header text-white bg-primary"><span class="fas fa-house-user"></span> Indirizzo</div>

        <div class="card-body">

          <div class="form-row">
              
            <div class="col-md-12 mb-3">
              <label for="autocomplete"><span class="fas fa-map-marked-alt"></span> Indirizzo completo</label>
              <input type="text" class="form-control" id="autocomplete" onFocus="geolocate()" autocomplete="off"
                     placeholder="Inserisci qui l'indirizzo per usare l'autocompletamento dei campi di indirizzo">
            </div>

          </div>

          <div class="form-row">
            
            <div class="col-md-6 mb-3">
              <label for="street"><span class="fas fa-map-marker-alt"></span> Indirizzo</label>
              <input type="text" class="form-control" id="street" name="street" placeholder="Indirizzo (via, piazza, ecc.)">
              <div class="invalid-feedback">
                Inserire un indirizzo valido.
              </div>
            </div>

            <div class="col-md-2 mb-3">
              <label for="streetnumber"><span class="fas fa-map-marker-alt"></span> Numero civico</label>
              <input type="text" class="form-control" id="streetnumber" name="streetnumber" placeholder="Numero Civico">
              <div class="invalid-feedback">
                Inserire un numero civico valido.
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label for="postalcode"><span class="fas fa-map"></span> CAP</label>
              <input type="text" class="form-control" id="postalcode" name="postalcode" placeholder="CAP" pattern="[0-9]{5}">
              <div class="invalid-feedback">
                Inserire un CAP valido.
              </div>
            </div>

          </div>


          <div class="form-row">

            <div class="col-md-4 mb-3">
              <label for="town"><span class="fas fa-map"></span> Comune</label>
              <input type="text" class="form-control" id="town" name="town" placeholder="Comune">
              <div class="invalid-feedback">
                Inserire un comune valido.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="province"><span class="fas fa-map"></span> Provincia</label>
              <input type="text" class="form-control" id="province" name="province" placeholder="Provincia">
              <div class="invalid-feedback">
                Inserire una città valida.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="country"><span class="fas fa-globe"></span> Stato</label>
              <input type="text" class="form-control" id="country" name="country" placeholder="Stato">
              <div class="invalid-feedback">
                Inserire un stato valido.
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="form-group mt-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="terms" required>
          <label class="form-check-label" for="terms">
            Accetto i termini e le condizioni.
          </label>
          <div class="invalid-feedback">
            Devi accettare i termini e le condizioni prima di proseguire.
          </div>
        </div>
      </div>
      
      <div class="form-row mx-auto my-4">

        <div class="col-md-2">
          <input type="hidden" name="_method" value="POST">
          <button class="btn btn-primary" onclick="checkPasswordMatch()" type="submit">Registrati</button>
        </div>

        <div class="col-md-4">
          <div id="alert-form-success" style="display: none;" class="alert alert-success" role="alert">
            <strong>Registrazione effettuata con successo!</strong>
          </div>
          <div id="alert-form-error" style="display: none;" class="alert alert-danger" role="alert">
          </div>
        </div>  

    </form>
  </div>
</div>

<script src="/scripts/autocomplete-google.js"></script>