
<link href="css/signin.css" rel="stylesheet">

<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="signinModalLabel">Accedi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="card card-signin my-5">
                    <div class="card-body">
                    <h5 class="card-title text-center">Inserisci le tue credenziali</h5>
                        <form class="form-signin" form action="/api/users/signin" method="POST" >
                            <div class="form-label-group">
                            <input type="email" id="email" class="form-control" placeholder="E-mail" required autofocus>
                            <label for="email">E-mail</label>
                            </div>
            
                            <div class="form-label-group">
                            <input type="password" id="password" class="form-control" placeholder="Password" required>
                            <label for="password">Password</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Submit" >Continua</button>
                           
                            <script type="text/javascript">
                                res.locals.login = req.isAuthenticated();
                                console.log("Prova");
                            </script>


                        </form>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>