<!DOCTYPE html>

    <head>
        <title>Pagina di test 2</title>
    </head>

    <body>
        <h1>La pagina di test funziona. Mind blowing.</h1>
        <a href="/">Clicca qui per tornare indietro.</a>

        <br /><br />

        <form action="signup" method="POST">
            <label for="firstname">First name:</label><br>
            <input type="text" id="firstname" name="firstname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lastname" name="lastname"><br><br>
            <input type="submit" value="Submit">
          </form>
    </body>

</html>