<!DOCTYPE html>

    <head>
        <title>Pagina di test 2</title>
    </head>

    <body>
        <h1>La pagina di test funziona. Mind blowing.</h1>
        <a href="/">Clicca qui per tornare indietro.</a>
    </body>

</html>