
<div class="modal fade" id="three-monthly-modal" tabindex="-1" role="dialog" aria-labelledby="three-monthly-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="three-monthly-modal-label">Invia dati alla Questura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="card card-three-monthly my-5 border-white">
                    <div class="card-body">
                   Ogni 3 mesi bisogna inviare il resoconto di tutte le prenotazioni effettuate, inclusi i dati degli utenti che hanno prenotato.
                   Clicca su <strong>Procedi</strong> per avviare la procedura di rendiconto. 

                   <button class="btn btn-primary float-right" style="position: relative;  top: 70px;">Prenota</button>

                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
