#holder {
    height: 50px;
}

.label-placeholder {
    margin-bottom: -50px;
    padding-left: 10px;
    padding-top: 2px;
    position: absolute;
    color: black;
    font-weight: bold;
    z-index: 2;
}

.input-placeholding {
    height: 100%;
    padding-bottom: -10px;
    background-color: white; 
    color: black
}