.label-placeholder {
    margin-bottom: -5rem;
    padding-left: 0.5rem;
    padding-top: 0.05rem;
    position: absolute;
    color: black;
    font-weight: bold;
    z-index: 2;
}

.input-placeholding {
    height: 100%;
    padding-bottom: -1rem;
    background-color: white; 
    color: black
}